@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Curseur pas défaut (souris) */
body, button, input {
  font-family: 'Space Grotesk', sans-serif;
  cursor : url('mouse/cursor-fill.svg') 0 0, auto;
}

/* Curseur main (avec le doigt vers le haut) */
a, button, button:hover, button:focus, button:active, button:disabled, input[type="submit"], input[type="button"], input[type="checkbox"], input[type="radio"] {
  cursor: url('mouse/hand-index-thumb-fill.svg') 0 0, pointer;
}

/* Curseur texte (barre verticale) */
p, span, input, textarea, h1, h2, h3 {
  cursor: url('mouse/cursor-text.svg') 0 0, text;
}

h1, h2, h3 {
  text-align: center;
  color: #1E2A5E;
}

header {
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 8px;
  margin: -8px;
  margin-top: -16px;
}

::selection {
  background-color: #7C93C350;
}

footer {
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 8px;
  margin: -8px;
  margin-bottom: -16px;
  text-align: center;
}

.menu {
  border-radius: 8px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.menu td {
  padding: 8px;
  width: 20%;
  height: 36px;
  text-align: center;
}

.menu tr:hover {
  background-color: #7C93C310;
}

.menu tr:first-child {
  border: 1px solid #55679C;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

a {
  color: #55679C;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}

a:hover {
  text-decoration: none;
  background-color: #7C93C320;
}

a:active {
  color: #55679C;
  background-color: #7C93C350;
}

button {
  background-color: white;
  color: #55679C;
  border: 1px solid #55679C;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.btnBorder:hover {
  background-color: #7C93C320;
}

.btnBorder:active {
  background-color: #7C93C350;
}

.footerLink {
  display: inline-block;
}

input[type="text"], input[type="password"] {
  border: 1px solid #55679C;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  color: #55679C;
  outline: none;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active {
  box-shadow: 0 0 2px #55679C;
}

input[type="text"]::placeholder {
  color: #55679C;
  opacity: 0.65;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1.5px solid #55679C;
  vertical-align: -6.5px;
  border-radius: 3px;
  outline: none;
  padding: 2px;
}

input[type="checkbox"]:hover {
  background-color: #55679C25;
  content: url('images/check-stroke-purple.svg');
}

input[type="checkbox"]:checked {
  background-color: #55679C;
  content: url('images/check-stroke-white.svg');
  color: white;
}

input[type="checkbox"]:checked:hover {
  background-color: #45517a;
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1.5px solid #55679C;
  vertical-align: -3.5px;
  border-radius: 50%;
  outline: none;
  padding: 4px;
}

input[type="radio"]:hover {
  background-color: #55679C25;
  content: url('images/circle-outline-purple.svg');
}

input[type="radio"]:checked {
  background-color: #55679C;
  content: url('images/circle-outline-white.svg');
  color: white;
}

input[type="radio"]:checked:hover {
  background-color: #45517a;
}

select {
  outline: none;
  color: #1E2A5E;
  padding: 6px;
  border: 1.5px solid #55679C;
  border-radius: 3px;
}

option {
  color: #55679C;
}

option:hover {
  background-color: #55679C25;
}

option:active {
  background-color: #55679C50;
}

textarea {
  border: 1.5px solid #55679C;
  border-radius: 3px;
  padding: 8px;
  color: #55679C;
  outline: none;
  resize: none;
}

textarea::placeholder {
  color: #55679C;
  opacity: 0.65;
}

textarea:hover, textarea:focus, textarea:active {
  box-shadow: 0 0 2px #55679C;
}

.btnNoBorder {
  border: none;
}

.btnNoBorder:hover {
  background-color: #7C93C320;
}

.btnNoBorder:active {
  background-color: #7C93C350;
}